body {
	margin-bottom: 1rem;
}

#consoleText {
	font-family: monospace;
	width: 100%;
	height: 90vh;
	resize: none;
}

.database-editor-container {
	width: 100%;
	height: 90vh;
}

.shift-editor-container {
	font-family: monospace;
	width: 100%;
	height: 80vh;
	margin-bottom: 1rem;
}

.jexcel_content {
	overflow-x: hidden !important;
}